@page
@{
    ViewData["Title"] = "Thêm khách hàng";
}
@model FormModel
@{
    var customerInfo = Model.customerInfo;
    if (customerInfo != null)
    {

        <h3>@Model.Message</h3>
        <div asp-validation-summary="All"></div>
        if (ModelState.IsValid)
        {
            <div class="card">
                <div class="card-body">
                    <p><strong>Tên: </strong> @customerInfo.Customername</p>
                    <p><strong>Email: </strong> @customerInfo.Email</p>
                    <p><strong>Năm sinh: </strong> @customerInfo.YearOfBirth</p>
                </div>
            </div>
        }
    }


}
<h2 class="display-4">Nhập thông tin</h2>
<form method="post" class="m-2 p-3 bg-light">
    <div class="form-group">
        <label asp-for="@customerInfo.Customername"></label>
        <input class="form-control" asp-for="@customerInfo.Customername"  />
        <span asp-validation-for="@customerInfo.Customername" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@customerInfo.Email"></label>
        <input class="form-control" asp-for="@customerInfo.Email" />
        <span asp-validation-for="@customerInfo.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@customerInfo.YearOfBirth"></label>
        <input class="form-control" asp-for="@customerInfo.YearOfBirth" />
        <span asp-validation-for="@customerInfo.YearOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button class="btn btn-danger" asp-page="Form">Gửi thông tin</button>
    </div>
</form>
